@page
@model com.wechat.gorilla.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="transprantBackground">
    <p class="page_title">@Model.User.User_name Details</p>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="/Users/Edit" asp-route-id="@Model.User.Id" asp-route-deptid="@Model.User.Departmentid" asp-route-projectid="@Model.User.Projectid">Edit</a>
            <a class="btn btn-success" asp-page="/Projects/Details" asp-route-id="@Model.User.Projectid" asp-route-type="1">Cancel</a>
            <p/>
        </div>
    </div>
    <div class="row">
        <div class="col-1 font-weight-bold">@Html.DisplayNameFor(model => model.User.User_name)<p /></div>
        <div class="col-2"> @Html.DisplayFor(model => model.User.User_name)</div>
        <div class="col-1 font-weight-bold">  @Html.DisplayNameFor(model => model.User.User_account)</div>
        <div class="col-2"> @Html.DisplayFor(model => model.User.User_account)</div>
        <div class="col-1 font-weight-bold">  @Html.DisplayNameFor(model => model.User.Projectid)</div>
        <div class="col-2"> @Html.DisplayFor(model => model.User.Project.Project_name)</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-1 font-weight-bold"> @Html.DisplayNameFor(model => model.User.Departmentid)<p /></div>
        <div class="col-2"> @Html.DisplayFor(model => model.User.Department.Dept_name)</div>
        <div class="col-1 font-weight-bold"> @Html.DisplayNameFor(model => model.User.Login_time)</div>
        <div class="col-2"> @Html.DisplayFor(model => model.User.Login_time)</div>
    </div>
    <div class="row">
        <div class="col">
            <span class="badge bg-success btn">已订阅管理</span>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">订阅操作</th>
                        <th scope="col">订阅内容</th>
                        <th scope="col">描述</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1"></label>
                            </div>
                        </td>
                        <td>回收登记</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3"></label>
                            </div>
                        </td>
                        <td>清洗登记</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                                <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                        </td>
                        <td>发放登记</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>