@page
@model com.wechat.gorilla.Pages.Citys.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>确定删除 @Html.DisplayFor(model => model.City.City_name)？</h1>
<div class="transprantBackground">
    <div>
        <p class="text-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>注意：删除操作不可恢复！
        </p>
        <dl class="row">
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.City.City_name)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.City.City_name)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.City.Provinceid)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.City.Province.Province_name)
            </dd>
        </dl>
        <form method="post">
            <input type="hidden" asp-for="City.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-success" asp-page="/Provinces/Details" asp-route-id="@Model.City.Provinceid">Back to List</a>
        </form>
    </div>
</div>