@page
@model com.wechat.gorilla.Pages.Projects.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-shadow">是否删除 @Model.Project.Project_name？</h1>
<div class="transprantBackground">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Project.ID"><span class="glyphicon glyphicon-share-alt"></span>Back to Detail</a>
            <a class="btn btn-success" asp-page="./Index">Back To List</a>
            <p></p>
        </div>
    </div>
    <p class="text-danger">
        <span class="glyphicon glyphicon-warning-sign" style="margin-right:8px;"></span>注意：删除操作不可恢复！
    </p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Project_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Project_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Sign_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Sign_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Short_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Short_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Provinceid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Province.Province_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Cityid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.City.City_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Address)
        </dd>
    </dl>
    <form method="post">
        <br />
        <input type="hidden" asp-for="Project.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <div>

        </div>
    </form>
</div>