@page
@model com.wechat.gorilla.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
    string remoteType = Request.Query["type"];
    if (string.IsNullOrEmpty(remoteType)) {
        remoteType = "0";
    }
}
<style>
    ul li {
        list-style:outside none none;
        list-style-type:none;     
        padding:0px;
        margin:0px;
    }

</style>
@*<h1 class="text-shadow">@Model.Project.Project_name</h1>*@
<div class="transprantBackground">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Project.ID">Edit</a>
            <a class="btn btn-success" asp-page="./Index">Cancel</a>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Project_name)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Project_name)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Sign_date)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Sign_date)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Short_name)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Short_name)
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Provinceid)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Province.Province_name)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Cityid)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.City.City_name)
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Address)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Address)
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Current_progress)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Current_progress)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Project_imple)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Project_imple)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Phone)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Phone)
            </span>
        </div>
    </div>

    <p>
    </p>
    <ul>
        <li class="dropdown active">
            <a href="#menuItem" id="myTabDrop1" class="dropdown-toggle"
               data-toggle="dropdown">
                <i class="fa fa-wrench"></i>
                本院管理
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li>
                    <a asp-page="/Departments/Create" asp-route-id="@Model.Project.ID">添加科室</a>
                </li>
                <li>
                    <a asp-page="/Users/Create" asp-route-id="@Model.Project.ID" asp-route-type="User">添加人员</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a href="#subscribe" tabindex="-1" data-toggle="tab">订阅管理</a>
                </li>
                <li>
                    <a href="#qrcode" tabindex="-1" data-toggle="modal" data-target="#exampleModal">二维码</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a asp-page="/Projects/Delete" asp-route-id="@Model.Project.ID">删除</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="row">
        <div class="col-4">
            <div class="treeview w-20 border">
                @Html.Raw(Model.MainOrgMenu.HtmlContent)
                @*<ul class="list-group">
                    <li id="topMenu" class="list-group-item">
                        <span>
                            <i class="fas fa-angle-right rotate" style="margin-right:3px;"></i>
                            <a id="href3" href="#aa" onclick="temp(this.id);">四川省人民中医院</a>
                        </span>
                        <ul id="level3" class="list-group">
                            <li class="list-group-item border-0">
                                <span>
                                    <i class="fas fa-angle-right rotate" style="margin-right:3px;"></i>
                                    <a id="href4" href="#aa" onclick="temp(this.id);">信息科</a>
                                </span>
                                <ul id="level4" class="list-group border-0">
                                    <li id="level2" class="list-group-item  border-0">
                                        <span>
                                            <i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i>
                                            <a href="#aa">aa</a>
                                        </span>
                                        <ul>
                                        </ul>
                                    </li>
                                    <li id="level2" class="list-group-item border-0"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">asdfasdfasdf</a></span><ul></ul></li>
                                    <li id="level2" class="list-group-item border-0"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">gfhjfg</a></span><ul></ul></li>
                                    <li id="level2" class="list-group-item border-0"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">sgdfgsd</a></span><ul></ul></li>
                                </ul>
                            </li>
                            <li id="level2" class="nested"><span class="folder"><i class="fas fa-angle-right rotate" style="margin-right:3px;"></i><a href="#aa">供应室</a></span><ul><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">a1a1</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">sdfgsdfg</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">gfhjfgh</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">信息科</a></span><ul></ul></li></ul></li>
                            <li id="level2" class="nested"><span class="folder"><i class="fas fa-angle-right rotate" style="margin-right:3px;"></i><a href="#aa">手术室</a></span><ul><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">asdfas</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">dsfgsdfg</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">fghjfgh</a></span><ul></ul></li><li id="level2" class="nested"><span class="file"><i class="far fa-envelope-open ic-w mx-1" style="margin-right:3px;"></i><a href="#aa">总经办</a></span><ul></ul></li></ul></li>
                        </ul>
                    </li>
                </ul>*@
            </div>
            @*<ul id="browser" class="filetree treeview-famfamfam treeview">
            @Html.Raw(Model.MainOrgMenu.HtmlContent)
        </ul>*@
        </div>
        <script>
            function temp(id) {
                //id = id.replace("href", "level");
                $('#' + id).toggle();//.css("display", "none");
            }
        </script>
        <div class="col">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].Departmentid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].User_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].User_account)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].Barcode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].wx_unique_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users[0].Login_time)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Dept_name)
                            </td>
                            <td>
                                <a asp-page="/Users/Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.User_name)</a>
                            </td>
                            <td>
                                <a asp-page="/Users/Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.User_account)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Barcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.wx_unique_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login_time)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle btn-xs"
                                            data-toggle="dropdown">
                                        操作
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a asp-page="/Users/Details" asp-route-id="@item.Id">订阅管理</a>
                                        </li>
                                        <li>
                                            <a asp-page="/Users/Details" asp-route-id="@item.Id">重置密码</a>
                                        </li>
                                        <li>
                                            <a asp-page="/Users/Edit" asp-route-id="@item.Id" asp-route-deptid="@item.Departmentid" asp-route-projectid="@item.Projectid">修改</a>
                                        </li>
                                        @*<li>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">快速复制...</a>
                                        </li>*@
                                        <li class="divider"></li>
                                        <li><a asp-page="/Users/Delete" asp-route-projectid="@item.Projectid" asp-route-deptid="@item.Departmentid" asp-route-id="@item.Id">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">本单位下:</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Departments.Count 科室</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Users.Count 成员</li>
        </ol>
    </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Project.Project_name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#browser").treeview({
            toggle: function () {
                console.log("%s was toggled.", $(this).find(">span").text());
            }
        });

        $("#add").click(function () {
            var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
                "<li><span class='file'>Item1</span></li>" +
                "<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
            $("#browser").treeview({
                add: branches
            });
        });
    });
</script>
<script>
    $(function () {
        $('#myTab li:eq(@remoteType) a').tab('show');
    });
</script>
