@page
@model com.wechat.gorilla.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
    string remoteType = Request.Query["type"];
    if (string.IsNullOrEmpty(remoteType)) {
        remoteType = "0";
    }
}

<h1 class="text-shadow">@Model.Project.Project_name</h1>
<div class="transprantBackground">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="./Index">Back To List</a>
            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Project.ID">Edit</a>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Project_name)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Project_name)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Sign_date)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Sign_date)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Short_name)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Short_name)
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Provinceid)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Province.Province_name)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Cityid)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.City.City_name)
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Address)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Address)
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Current_progress)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Current_progress)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Project_imple)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Project_imple)
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-dark font-weight-bold">
                @Html.DisplayNameFor(model => model.Project.Phone)
            </span>
            <span class="span1">
                @Html.DisplayFor(model => model.Project.Phone)
            </span>
        </div>
    </div>

    <p>
    </p>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#department" data-toggle="tab">科室</a>
        </li>
        <li><a href="#user" data-toggle="tab">人员</a></li>
        <li class="dropdown">
            <a href="#menuItem" id="myTabDrop1" class="dropdown-toggle"
               data-toggle="dropdown">
                本院管理
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li>
                    <a asp-page="/Departments/Create" asp-route-id="@Model.Project.ID">添加科室</a>
                </li>
                <li>
                    <a asp-page="/Users/Create" asp-route-id="@Model.Project.ID">添加人员</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a href="#subscribe" tabindex="-1" data-toggle="tab">订阅管理</a>
                </li>
                <li>
                    <a href="#qrcode" tabindex="-1" data-toggle="modal" data-target="#exampleModal">二维码</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a asp-page="/Projects/Delete" asp-route-id="@Model.Project.ID">删除</a>
                </li>
            </ul>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="department">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Departments[0].Dept_name)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Departments[0].Short_name)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Departments[0].Barcode)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Departments[0].Projectid)
                            </th>*@
                        <th class="border border-info"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Departments) {
                        <tr>
                            <td class="border border-primary">
                                @Html.DisplayFor(modelItem => item.Dept_name)
                            </td>
                            <td class="border border-primary">
                                @Html.DisplayFor(modelItem => item.Short_name)
                            </td>
                            <td class="border border-primary">
                                <a href="##"><span class="badge badge-info">查看</span></a>
                                @Html.DisplayFor(modelItem => item.Barcode)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Projectid)
                                </td>*@
                            <td class="border border-primary">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success dropdown-toggle btn-xs"
                                            data-toggle="dropdown">
                                        操作
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        @*<li role="presentation">
                                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                            </li>*@
                                        <li role="presentation">
                                            <a asp-page="/Departments/Edit" asp-route-id="@item.Id">Edit</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a asp-page="/Departments/Delete" asp-route-id="@item.Id">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="user">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].Departmentid)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].User_name)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].User_account)
                        </th>
                        @*<th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].User_type)
                        </th>
                        <th class="border border-info">
            @Html.DisplayNameFor(model => model.Users[0].Projectid)
        </th>*@
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].Barcode)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].wx_unique_id)
                        </th>
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].Roleid)
                        </th>
                        @*<th class="border border-info">
            @Html.DisplayNameFor(model => model.Users[0].User_password)
        </th>*@
                        <th class="border border-info">
                            @Html.DisplayNameFor(model => model.Users[0].Login_time)
                        </th>
                        <th class="border border-info"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users) {
                    <tr>
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.Department.Dept_name)
                        </td>
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.User_name)
                        </td>
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.User_account)
                        </td>
                        @*<td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.User_type)
                        </td>
                        <td class="border border-primary">
            @Html.DisplayFor(modelItem => item.Project.Project_name)
        </td>*@
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.wx_unique_id)
                        </td>
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.Roleid)
                        </td>
                        @*<td class="border border-primary">
            @Html.DisplayFor(modelItem => item.User_password)
        </td>*@
                        <td class="border border-primary">
                            @Html.DisplayFor(modelItem => item.Login_time)
                        </td>
                        <td class="border border-primary">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle btn-xs"
                                        data-toggle="dropdown">
                                    操作
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a asp-page="./Details" asp-route-id="@item.Id">重置密码</a>
                                    </li>
                                    <li>
                                        <a asp-page="/Users/Edit" asp-route-id="@item.Id" asp-route-deptid="@item.Departmentid">修改</a>
                                    </li>
                                    @*<li>
            <a asp-page="./Edit" asp-route-id="@item.Id">快速复制...</a>
        </li>*@
                                    <li class="divider"></li>
                                    <li><a asp-page="/Users/Delete" asp-route-projectid="@item.Projectid" asp-route-deptid="@item.Departmentid" asp-route-id="@item.Id">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="jmeter">
            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
        </div>
        <div class="tab-pane fade" id="ejb">
            <p>
                Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
            </p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">本单位下:</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Departments.Count 科室</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Users.Count 成员</li>
        </ol>
    </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Project.Project_name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#myTab li:eq(@remoteType) a').tab('show');
    });
</script>
