<!DOCTYPE html>
<html lang="en" style="height:100%;">
@{
    ViewData["Title"] = "蓝鹰追溯";

    // 当前是否登录
    bool isLogoned = Context.Session.Keys.Contains(com.wechat.gorilla.SessionExtensions.SessionKey_CUA);

    // 登录界面不显示滚动条，进入主界面才显示    
    string showScroll = "hidden";

    // 是否显示左边菜单栏
    string showPanel = "";

    // 当前用户名
    com.wechat.gorilla.Models.User cua = null;

    if (isLogoned == true) {
        //var cua_Bytes = new Byte[768];
        //Context.Session.TryGetValue(com.wechat.gorilla.Globals.SessionKey_CUA, out cua_Bytes);

        cua = com.wechat.gorilla.SessionExtensions.Get<com.wechat.gorilla.Models.User>(Context.Session, com.wechat.gorilla.SessionExtensions.SessionKey_CUA);

        // 从Session中获取是否显示菜单的设置
        var showPanel_Bytes = new Byte[30];
        bool isTrySession = Context.Session.TryGetValue(com.wechat.gorilla.SessionExtensions.SessionKey_SwitchPanel, out showPanel_Bytes);
        if (isTrySession) {
            showPanel = System.Text.Encoding.UTF8.GetString(showPanel_Bytes);
            showPanel = showPanel.Replace("\"", "");
            if (showPanel.Equals("none")) {
                showPanel = "display:none;";
            }
        }
        string activeMenu_id = com.wechat.gorilla.SessionExtensions.Get<string>(Context.Session, com.wechat.gorilla.SessionExtensions.SessionKey_ActiveMenuId);
        if (string.IsNullOrEmpty(activeMenu_id)) {
            activeMenu_id = "navMenu_Index";
        }
        com.wechat.gorilla.Globals.NaviMenus.ForEach(a => a.MenuClass_default = "MenuClass_default");
        com.wechat.gorilla.Globals.NaviMenus.ForEach(a => a.MenuClass_hover = "MenuClass_default_hover");
        com.wechat.gorilla.Globals.NaviMenus.FirstOrDefault(a => a.Menu_id.Equals(activeMenu_id)).MenuClass_default = "MenuClass_active_default";
        com.wechat.gorilla.Globals.NaviMenus.FirstOrDefault(a => a.Menu_id.Equals(activeMenu_id)).MenuClass_hover = "MenuClass_active_hover";

        if (cua == null) {
            showScroll = "hidden";
        } else {
            showScroll = "auto";
        }
    } else {
        cua = new com.wechat.gorilla.Models.User();
        cua.Theme_url = "/images/9.jpg";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="~/css/flypanel.css" rel="stylesheet" />
    <style>
        #panelMenu {
          
        }
    </style>
</head>
<body id="mainWindow" style="height:100%;background-image:url('@cua.Theme_url'); background-position:center;background-repeat:no-repeat;background-size:100%;">
    <!--右上角菜单-->
    <div class="dropdown" style="position:absolute;top:13px;right:13px;z-index:138;">
        @if (isLogoned) {
            <a class="btn btn-success dropdown-toggle text-white text-shadow" id="dropdownMenu1"
                    data-toggle="dropdown">
                @cua.User_account
            </a>
            <ul class="dropdown-menu pull-right" role="menu"
                aria-labelledby="dropdownMenu1">
                <li role="presentation" class="dropdown-header"> <i class="fa fa-wrench" aria-hidden="true"></i>设置</li>
                <li role="presentation">
                    <a asp-area="" asp-page="/Provinces/Index" role="menuitem" tabindex="-1">全国省市字典管理</a>
                </li>
                <li role="presentation" class="dropdown-header"> <i class="fa fa-search" aria-hidden="true"></i>导航</li>
                <li role="presentation">
                    <a asp-area="" asp-page="/Index" role="menuitem" tabindex="-1">主页</a>
                </li>
                <li role="presentation">
                    <a asp-area="" asp-page="/Privacy" role="menuitem" tabindex="-1">Privacy</a>
                </li>
                @*<li role="presentation" class="divider"></li>*@
                <li role="presentation" class="dropdown-header"><i class="fa fa-user-edit" aria-hidden="true"></i>安全</li>
                <li role="presentation">
                    <a asp-area="" asp-page="/ChangePwd" role="menuitem" tabindex="-1">修改密码</a>
                </li>
                <li role="presentation">
                    <a asp-area="" asp-page="/Privacy" role="menuitem" tabindex="-1">日志审计</a>
                </li>
                <li role="presentation">
                    <a asp-area="" asp-page="/Logout" role="menuitem" tabindex="-1">注销</a>
                </li>
            </ul>
        }
    </div>
    <table style="height: 100%; width: 100%; border: 1px solid;">
        <tr>
            @if (isLogoned) {
                <!--左侧菜单-->
                <td id="panelMenu" style="padding-top:13px;vertical-align:top;width:273px;@showPanel" rowspan="2">
                    @*<a class="navbar-brand text-white navMenuItem_Title" style="font-size:13.5pt;padding:0px;margin:0px;padding-left:26px;padding-top:18px;" asp-area="" asp-page="/Index">蓝鹰追溯CSSD在线管理系统</a>*@
                    <table style="width:100%;border-spacing:5px;border-collapse:separate;">
                        @{ foreach (var item in com.wechat.gorilla.Globals.NaviMenus) {
                                <tr>
                                    <td id="@item.Menu_id" class="@item.MenuClass_default" onmouseover="changeStyle('@item.Menu_id', '@item.MenuClass_hover');" onmouseout="changeStyle('@item.Menu_id', '@item.MenuClass_default');">
                                        <a asp-area="" asp-page="@item.AspPage" style="color:#fff;text-decoration:none;"><span class="@item.Menu_icons"></span>@item.MenuText</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td style="width:30px;vertical-align:top;padding-top:19px;text-align:right;" align="center" rowspan="2">
                    <a href="##"><span class="glyphicon glyphicon-align-justify text-shadow" style="color:#eee;margin-bottom:13px;" onclick="SwitchPanel();" title="显示/隐藏主菜单"></span></a>
                    <br />
                    <a asp-area="" asp-page="/Index"><i class="fas fa-home text-white text-shadow" title="返回主页"></i></a>
                    <input id="hidden_ShowPanel" name="hidden_ShowPanel" type="hidden" value="@showPanel" />
                </td>
            }
                            <!--内容操作区-->
            <td style="vertical-align:top;padding-left:13px;">
                <div style="height:100%;width:100%;overflow-x:hidden;overflow-y: @showScroll;">
                    @RenderBody()
                    @*<main role="main" class="pb-3">
                        </main>*@
                </div>
            </td>
        </tr>
        <!--底部版权说明-->
        <tr>
            <td height="30px" style="padding-left: 13px;color:#fff;" class="text-shadow">
                &copy; 2020 - <a asp-area="" asp-page="/Index" class="text-white text-shadow">蓝鹰追溯</a> - <a asp-area="" asp-page="/Privacy" class="text-white text-shadow">Privacy</a>
            </td>
        </tr>
    </table>
    <!--隐藏刷新Session-->
    <iframe id="ChangeShowPanelIframe" name="ChangeShowPanelIframe" src="" hidden="hidden">
    </iframe>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


@*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            </div>
        </div>
    </nav>
</header>*@