<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "蓝鹰追溯";

    string displayFlag = "block";
    string account_name = "";
    if (com.wechat.gorilla.Globals.Cua == null) {
        displayFlag = "none";
    } else {
        account_name = com.wechat.gorilla.Globals.Cua.User_Name;
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">蓝鹰追溯CSSD在线管理系统</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-right:8px;display:@Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><span class="glyphicon glyphicon glyphicon-th"></span> 主页</a>
                        </li>
                        <li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Projects/Index"><span class="glyphicon glyphicon glyphicon-flag"></span>项目列表</a>
                        </li>
                        @*<li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Movies/Index"><span class="glyphicon glyphicon glyphicon-transfer"></span>组织结构</a>
                        </li>*@
                        <li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Movies/Index"><span class="glyphicon glyphicon glyphicon-flash" style="color: forestgreen;"></span><span style="color: forestgreen;">推送订阅</span></a>
                        </li>
                        @*<li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Index"><span class="glyphicon glyphicon-user"></span>人员列表</a>
                        </li>*@
                        <li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Movies/Index"><span class="glyphicon glyphicon glyphicon-info-sign" style="color: forestgreen;"></span><span style="color: forestgreen;">推送日志</span></a>
                        </li>
                        <li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Provinces/Index"><span class="glyphicon glyphicon glyphicon-transfer"></span>全国省市字典管理</a>
                        </li>
                        <li class="nav-item" style="margin-right: 8px; display: @Html.Raw(displayFlag)">
                            <div class="dropdown" style="padding-top:9px;">
                                <a id="dropdownMenu1" data-toggle="dropdown" class="nav-link text-dark" style="margin-top:1px;cursor:pointer;">系统设置<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" style="padding:1px 8px 1px 8px;">
                                        <a role="menuitem" tabindex="-1" class="nav-link text-dark" asp-area="" asp-page="/Provinces/Index">全国省市字典管理</a>
                                    </li>
                                    <li role="presentation" style="padding:1px 8px 1px 8px;">
                                        <a role="menuitem" tabindex="-1" class="nav-link text-dark" asp-area="" asp-page="/Logout">修改密码</a>
                                    </li>
                                    <li role="presentation" style="padding:1px 8px 1px 8px;">
                                        <a role="menuitem" tabindex="-1" class="nav-link text-dark" asp-area="" asp-page="/Logout">查看日志</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" style="padding:1px 8px 1px 8px;">
                                        <a role="menuitem" tabindex="-1" class="nav-link text-dark" asp-area="" asp-page="/Logout">注销</a>
                                    </li>
                                    <li role="presentation" style="padding:1px 8px 1px 8px;">
                                        <a role="menuitem" tabindex="-1" class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a asp-area="" asp-page="/Index">蓝鹰追溯</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
