@page
@model com.wechat.gorilla.Pages.Provinces.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1><a asp-page="./Index">全国</a> / <a href="#self">@Html.DisplayFor(model => model.Province.Province_name)</a></h1>

<div>
    <table style="height:30px;">
        <tr>
            <td>
                <h4>Province</h4>
            </td>
            <td style="padding-left:13px;">
                <a asp-page="./Edit" asp-route-id="@Model.Province.Id"><span class="glyphicon glyphicon-pencil"></span>Edit</a> @*| <a asp-page="./Index"><span class="glyphicon glyphicon-share-alt"></span>Back to List</a>*@
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <hr style="margin-top:0px;" />
    <table>
        <tr>
            <td class="text-dark"><span class="label label-primary"> @Html.DisplayNameFor(model => model.Province.Province_type)</span></td>
            <td>@Html.DisplayFor(model => model.Province.Province_type)</td>
            <td class="col-sm-2"><span class="label label-success"> @Html.DisplayNameFor(model => model.Province.Province_name)</span></td>
            <td> @Html.DisplayFor(model => model.Province.Province_name)</td>
            <td class="col-sm-2"><span class="label label-info"> @Html.DisplayNameFor(model => model.Province.Province_area)</span></td>
            <td> @Html.DisplayFor(model => model.Province.Province_area)</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<p><br />
    <a asp-page="/Citys/Create" asp-route-id="@Model.Province.Id">Create New</a>
</p>
<table class="table table-hover table-condensed" style="width:400px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Citys[0].Show_index)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Citys[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citys[0].City_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Citys) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Show_index)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City_name)
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        操作
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a asp-page="/Citys/Details" asp-route-id="@item.Id">Detail</a>
                        </li>
                        <li role="presentation">
                            <a asp-page="/Citys/Edit" asp-route-id="@item.Id">Edit</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a asp-page="/Citys/Delete" asp-route-id="@item.Id">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<br />
<br />